In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from collections import Counter
import matplotlib.pyplot as plt
from sklearn.svm import SVC  
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from xgboost.sklearn import XGBClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.decomposition import FastICA
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn import decomposition
from sklearn.feature_selection import SelectPercentile as sp
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso
from mlxtend.feature_selection import SequentialFeatureSelector
from sklearn.feature_selection import RFECV

In [2]:
df = pd.read_csv('IoT_Modbus.csv')

In [3]:
df.head()

,date,time,FC1_Read_Input_Register,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,label,type
0,31-Mar-19,12:36:55,53287,1463,33518,23014,0,normal
1,31-Mar-19,12:36:58,41029,55891,26004,50645,0,normal
2,31-Mar-19,12:36:58,41029,55891,26004,50645,0,normal
3,31-Mar-19,12:37:00,64661,40232,33460,44046,0,normal
4,31-Mar-19,12:37:01,64661,40232,33460,44046,0,normal

In [4]:
df = df.drop(['date', 'time'], axis = 1)
df

,FC1_Read_Input_Register,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,label,type
0,53287,1463,33518,23014,0,normal
1,41029,55891,26004,50645,0,normal
2,41029,55891,26004,50645,0,normal
3,64661,40232,33460,44046,0,normal
4,64661,40232,33460,44046,0,normal
...,...,...,...,...,...,...
287189,22798,40857,14335,58610,0,normal
287190,15838,54368,63613,45660,0,normal
287191,28674,60221,3792,17705,0,normal
287192,28674,60221,3792,17705,0,normal
287193,36119,40867,57092,39921,0,normal

In [5]:
df.isnull().sum()

FC1_Read_Input_Register      0
FC2_Read_Discrete_Value      0
FC3_Read_Holding_Register    0
FC4_Read_Coil                0
label                        0
type                         0
dtype: int64

In [6]:
target = df.loc[:, ('type')]

In [7]:
df = df.drop('type', axis = 1)
df

,FC1_Read_Input_Register,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil,label
0,53287,1463,33518,23014,0
1,41029,55891,26004,50645,0
2,41029,55891,26004,50645,0
3,64661,40232,33460,44046,0
4,64661,40232,33460,44046,0
...,...,...,...,...,...
287189,22798,40857,14335,58610,0
287190,15838,54368,63613,45660,0
287191,28674,60221,3792,17705,0
287192,28674,60221,3792,17705,0
287193,36119,40867,57092,39921,0

In [8]:
cat = []
for i in df.columns:
    if len(df[i].unique()) <= 20: cat.append(i)
df_cat = df[cat]
df_cat

        label
0           0
1           0
2           0
3           0
4           0
...       ...
287189      0
287190      0
287191      0
287192      0
287193      0

[287194 rows x 1 columns]

In [9]:
df = df.drop('label', axis = 1)
df

,FC1_Read_Input_Register,FC2_Read_Discrete_Value,FC3_Read_Holding_Register,FC4_Read_Coil
0,53287,1463,33518,23014
1,41029,55891,26004,50645
2,41029,55891,26004,50645
3,64661,40232,33460,44046
4,64661,40232,33460,44046
...,...,...,...,...
287189,22798,40857,14335,58610
287190,15838,54368,63613,45660
287191,28674,60221,3792,17705
287192,28674,60221,3792,17705
287193,36119,40867,57092,39921

In [10]:
scaler = StandardScaler()
df = scaler.fit_transform(df)
df = pd.DataFrame(df)
df

               0         1         2         3
0       1.082293 -1.644604  0.043222 -0.518876
1       0.433493  1.226597 -0.353752  0.944474
2       0.433493  1.226597 -0.353752  0.944474
3       1.684303  0.400549  0.040158  0.594988
4       1.684303  0.400549  0.040158  0.594988
...          ...       ...       ...       ...
287189 -0.531449  0.433519 -0.970239  1.366304
287190 -0.899832  1.146255  1.633177  0.680466
287191 -0.220440  1.455014 -1.527239 -0.800043
287192 -0.220440  1.455014 -1.527239 -0.800043
287193  0.173614  0.434047  1.288665  0.376526

[287194 rows x 4 columns]

In [11]:
normalized = preprocessing.normalize(df)
df = pd.DataFrame(normalized)
df

               0         1         2         3
0       0.531457 -0.807579  0.021224 -0.254793
1       0.263346  0.745156 -0.214904  0.573767
2       0.263346  0.745156 -0.214904  0.573767
3       0.919830  0.218747  0.021931  0.324934
4       0.919830  0.218747  0.021931  0.324934
...          ...       ...       ...       ...
287189 -0.293509  0.239425 -0.535845  0.754585
287190 -0.392573  0.500081  0.712512  0.296870
287191 -0.097249  0.641892 -0.673755 -0.352946
287192 -0.097249  0.641892 -0.673755 -0.352946
287193  0.122125  0.305321  0.906484  0.264860

[287194 rows x 4 columns]

In [12]:
df['4'] = df_cat['label']
df

               0         1         2         3  4
0       0.531457 -0.807579  0.021224 -0.254793  0
1       0.263346  0.745156 -0.214904  0.573767  0
2       0.263346  0.745156 -0.214904  0.573767  0
3       0.919830  0.218747  0.021931  0.324934  0
4       0.919830  0.218747  0.021931  0.324934  0
...          ...       ...       ...       ... ..
287189 -0.293509  0.239425 -0.535845  0.754585  0
287190 -0.392573  0.500081  0.712512  0.296870  0
287191 -0.097249  0.641892 -0.673755 -0.352946  0
287192 -0.097249  0.641892 -0.673755 -0.352946  0
287193  0.122125  0.305321  0.906484  0.264860  0

[287194 rows x 5 columns]

In [13]:
df.isnull().sum()

0    0
1    0
2    0
3    0
4    0
dtype: int64

In [14]:
target.unique()

array(['normal', 'scanning', 'injection', 'password', 'xss', 'backdoor'],
      dtype=object)

In [15]:
label_encoder = preprocessing.LabelEncoder()
target = label_encoder.fit_transform(target)

In [16]:
target = pd.DataFrame(target)
target

        0
0       2
1       2
2       2
3       2
4       2
...    ..
287189  2
287190  2
287191  2
287192  2
287193  2

[287194 rows x 1 columns]

In [17]:
def lr(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_lr = LogisticRegression()
    model_lr.fit(x_train, y_train)
    preds = model_lr.predict(x_test)
    return accuracy_score(y_test, preds)

In [18]:
def dtc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_dtc = DecisionTreeClassifier()   
    model_dtc.fit(x_train, y_train)
    preds = model_dtc.predict(x_test)
    return accuracy_score(y_test, preds)

In [19]:
def rfc(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_rfc = RandomForestClassifier()    
    model_rfc.fit(x_train, y_train)
    preds = model_rfc.predict(x_test)
    return accuracy_score(y_test, preds)

In [20]:
def knn(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_knn = KNeighborsClassifier()
    model_knn.fit(x_train, y_train)
    preds = model_knn.predict(x_test)
    return accuracy_score(y_test, preds)

In [22]:
def nb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_nb = GaussianNB()
    model_nb.fit(x_train, y_train)
    preds = model_nb.predict(x_test)
    return accuracy_score(y_test, preds)

In [23]:
def xgbb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_xgb = xgb.XGBClassifier()
    model_xgb.fit(x_train, y_train)
    preds = model_xgb.predict(x_test)
    return accuracy_score(y_test, preds)

In [24]:
def adb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_adb = AdaBoostClassifier()
    model_adb.fit(x_train, y_train)
    preds = model_adb.predict(x_test)
    return accuracy_score(y_test, preds)

In [25]:
def mlp(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = MLPClassifier()    
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [26]:
def gb(x, y):
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
    model_mlp = GradientBoostingClassifier() 
    model_mlp.fit(x_train, y_train)
    preds = model_mlp.predict(x_test)
    return accuracy_score(y_test, preds)

In [27]:
x = df
y = target[0]

In [28]:
x.columns = x.columns.astype('str')

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 43)
print(x_train.shape, x_test.shape, y_train.shape, y_test.shape)

(201035, 5) (86159, 5) (201035,) (86159,)

In [ ]:
#without feature selection


print('lr - ', lr(x, y))
print('dtc - ', dtc(x, y))
print('rfc - ', rfc(x, y))
print('knn - ', knn(x, y))
# print('svm - ', svm(x, y))
print('Naive Bayes - ', nb(x, y))
print('XGB - ', xgbb(x, y))
print('ADB - ', adb(x, y))
print('MLP - ', mlp(x, y))
print('GB - ', gb(x, y))

In [ ]:
def ica(x, i):
    ica = FastICA(n_components = i, random_state = 42)
    data_ica = ica.fit_transform(x)
    data_ica = pd.DataFrame(data_ica)
    return data_ica

In [ ]:
def pca(x, i):
    pca = decomposition.PCA(n_components = i, random_state=42)
    data_pca = pca.fit_transform(x)
    data_pca = pd.DataFrame(data_pca)
    return data_pca

In [ ]:
def mi(x, y):
    mi = sp(percentile = 50)
    data_mi = mi.fit(x, y)
    data_mi = mi.transform(x)
    data_mi = pd.DataFrame(data_mi)
    return data_mi

In [ ]:
def smf(x, y):
    lasso_model = Lasso(alpha = 0.1)
    selector = SelectFromModel(lasso_model)
    X_selected = selector.fit_transform(x, y)
    selected_features_indices = selector.get_support(indices=True)
    selected_features_names = x.columns[selected_features_indices]
    return x[selected_features_names]

In [ ]:
def cfs(x):
    corr_matrix = x.corr()
    high_corr_features = []
    
    for i in range(len(corr_matrix.columns)):
        for j in range(i):
            if abs(corr_matrix.iloc[i, j]) > 0.8:
                colname = corr_matrix.columns[i]
                high_corr_features.append(colname)

    return x.drop(high_corr_features, axis=1)

In [ ]:
def fir(x, y):
    rfc = RandomForestClassifier(n_estimators=100)
    rfc.fit(x, y)
    feature_importances = list(zip(x.columns, rfc.feature_importances_))
    a = sorted(feature_importances, key=lambda x: x[1], reverse=True)
    ls = []
    for i in a[:len(a)//2 + 1]: ls.append(i[0])
    return x[ls]

In [ ]:
data_ica = ica(x, len(x.columns) // 2)

In [ ]:
data_pca = pca(x, len(x.columns) // 2)

In [ ]:
data_mi = mi(x, y)

In [ ]:
data_smf = smf(x, y)

In [ ]:
data_cfs = cfs(x)

In [ ]:
data_fir = fir(x, y)

In [ ]:
#with feature selection ica


print('lr - ', lr(data_ica, y))
print('dtc - ', dtc(data_ica, y))
print('rfc - ', rfc(data_ica, y))
print('knn - ', knn(data_ica, y))
# print('svm - ', svm(data_ica, y))
print('Naive Bayes - ', nb(data_ica, y))
print('XGB - ', xgbb(data_ica, y))
print('ADB - ', adb(data_ica, y))
print('MLP - ', mlp(data_ica, y))
print('GB - ', gb(data_ica, y))

In [ ]:
#with feature selection pca


print('lr - ', lr(data_pca, y))
print('dtc - ', dtc(data_pca, y))
print('rfc - ', rfc(data_pca, y))
print('knn - ', knn(data_pca, y))
# print('svm - ', svm(data_pca, y))
print('Naive Bayes - ', nb(data_pca, y))
print('XGB - ', xgbb(data_pca, y))
print('ADB - ', adb(data_pca, y))
print('MLP - ', mlp(data_pca, y))
print('GB - ', gb(data_pca, y))

In [ ]:
#with feature selection mi


print('lr - ', lr(data_mi, y))
print('dtc - ', dtc(data_mi, y))
print('rfc - ', rfc(data_mi, y))
print('knn - ', knn(data_mi, y))
# print('svm - ', svm(data_mi, y))
print('Naive Bayes - ', nb(data_mi, y))
print('XGB - ', xgbb(data_mi, y))
print('ADB - ', adb(data_mi, y))
print('MLP - ', mlp(data_mi, y))
print('GB - ', gb(data_mi, y))

In [ ]:
#with feature selection smf


print('lr - ', lr(data_smf, y))
print('dtc - ', dtc(data_smf, y))
print('rfc - ', rfc(data_smf, y))
print('knn - ', knn(data_smf, y))
# print('svm - ', svm(data_smf, y))
print('Naive Bayes - ', nb(data_smf, y))
print('XGB - ', xgbb(data_smf, y))
print('ADB - ', adb(data_smf, y))
print('MLP - ', mlp(data_smf, y))
print('GB - ', gb(data_smf, y))

In [ ]:
#with feature selection sfs


print('lr - ', lr(sfs(x, y, LogisticRegression()), y))
print('dtc - ', dtc(sfs(x, y, DecisionTreeClassifier()), y))
print('rfc - ', rfc(sfs(x, y, RandomForestClassifier()), y))
print('knn - ', knn(sfs(x, y, KNeighborsClassifier()), y))
# print('svm - ', svm(sfs(x, y, SVC(kernel = 'sigmoid')), y))
print('Naive Bayes - ', nb(sfs(x, y, GaussianNB()), y))
print('XGB - ', xgbb(sfs(x, y, xgb.XGBClassifier()), y))
print('ADB - ', adb(sfs(x, y, AdaBoostClassifier()), y))
print('MLP - ', mlp(sfs(x, y, MLPClassifier()), y))
print('GB - ', gb(sfs(x, y, GradientBoostingClassifier()), y))

In [ ]:
#with feature selection rfe


print('lr - ', lr(rfe(x, y, LogisticRegression()), y))
print('dtc - ', dtc(rfe(x, y, DecisionTreeClassifier()), y))
print('rfc - ', rfc(rfe(x, y, RandomForestClassifier()), y))
print('knn - ', knn(rfe(x, y, KNeighborsClassifier()), y))
# print('svm - ', svm(rfe(x, y, SVC(kernel = 'sigmoid')), y))
print('Naive Bayes - ', nb(rfe(x, y, GaussianNB()), y))
print('XGB - ', xgbb(rfe(x, y, xgb.XGBClassifier()), y))
print('ADB - ', adb(rfe(x, y, AdaBoostClassifier()), y))
print('MLP - ', mlp(rfe(x, y, MLPClassifier()), y))
print('GB - ', gb(rfe(x, y, GradientBoostingClassifier()), y))

In [ ]:
#with feature selection csf


print('lr - ', lr(data_cfs, y))
print('dtc - ', dtc(data_cfs, y))
print('rfc - ', rfc(data_cfs, y))
print('knn - ', knn(data_cfs, y))
# print('svm - ', svm(data_cfs, y))
print('Naive Bayes - ', nb(data_cfs, y))
print('XGB - ', xgbb(data_cfs, y))
print('ADB - ', adb(data_cfs, y))
print('MLP - ', mlp(data_cfs, y))
print('GB - ', gb(data_cfs, y))

In [ ]:
#with feature selection fir


print('lr - ', lr(data_fir, y))
print('dtc - ', dtc(data_fir, y))
print('rfc - ', rfc(data_fir, y))
print('knn - ', knn(data_fir, y))
# print('svm - ', svm(data_fir, y))
print('Naive Bayes - ', nb(data_fir, y))
print('XGB - ', xgbb(data_fir, y))
print('ADB - ', adb(data_fir, y))
print('MLP - ', mlp(data_fir, y))
print('GB - ', gb(data_fir, y))